body{
    background-size:cover;
    color: darkkhaki;
    font-size: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpqZ-oB0xQKLc5B2O1-eXkcx8rFKtXmTO2IQQe7wtvhPROrRey);
}