p{

    display: grid;
   grid-template-columns: 840px
   
} 
#content{
    display:grid;
    grid-gap: 3px;
   
   
}
 body{
    margin: 0;
    
 } 
  #top{
     background-image: url(http://www.csszengarden.com/214/huntington.jpg);
 } 
#start1{
    background-image: url(http://www.csszengarden.com/214/huntington.jpg);
    height: 375px;
    background-size: cover;
    top: 160px;
    width: 100%;
    background-position:center;

}