body{
    background-color: aquamarine;
}
.box{
    border: black  3px;
    border-radius: initial;
    height: 300px;
    width: 300px;
    margin: 5px;
    padding: 10px;
}
.box{
    box-shadow:50px 45px;
   display: block;
}